@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
    padding: 1%;
}

.container{
    background-color: whitesmoke;
    border-radius: 50px;
}

h1{
    font-weight: bold;
    margin-left: 10px;
}

p{
    font-size: 10px;
    margin-left: 10px;
}

img{
    width: 500px;
    margin-left: 10px;
}

input{
    width: 1255px;
    margin-left: 10px;
}

.checkbox {
    display: flex;
    margin-right: 1760px;
}

.choose{
    display: flex;
    margin-right: 1793px;
}

.membership{
    display: flex;
    margin-right: 1700px;
}

.addCm{
    font-size: large;
    margin-left: 10px;
    margin-bottom: 1px;
}

.cmnt{
    width: 1200px;
    margin-right:250px;
    margin-left: 10px;
    height: 100px;
}

.apply{
    width: 10%;
    margin-left: 10px;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: large;
}

.apply:hover{
    cursor: pointer;
    color: cornflowerblue;
}

.email, .phone, .gender, .title, .name, .haveU, .mt, .ha, .YCW, .DW, .height{
    font-size: large;
    margin-bottom: 1px;
}

.homeA, .city{
    margin-bottom: 10px;
}
